.blue {
	background:#4aaaa5;
}

.whiteback {
	background:white; 
	border:1px solid #ddd;
}

.borderbottom2 {
	border-bottom:2px solid #ccc;
}

.icon-image {
height:60px;
margin-right:10px;
width:60px
}

.starter-template{
	    padding: 30px;
}

#bio-image {
height:200px;
width:200px;
margin-right: 15px;
}

h1,h2,h3,h4,h5,h6 {
color:#4aaaa5;
font-family:'Georgia',Times,Times New Roman,serif;
font-weight: bold;
}

h1 {
/*background:#4aaaa5;*/
color:#fff;
/*float:left;*/
font-size:28px;
margin: 0;
/*padding:30px;*/
/*text-align:center*/
}

h2 {
	font-size:24px;
padding-bottom:24px;
margin: 0 0 20px 0;
}

h3 {
/*	font-size: 1.17em;
*/padding:15px 0 24px 0;
margin: 0 0 20px 0;
}

body{
	background-image:url(images/circles-light.png);
}

.navbar-brand {
	height: 84px;
}

.panel > .panel-heading {
/*    background-image: none;
*/    background-color: white;
border-bottom: 0;
color:#4aaaa5;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px;
  color:#a9a9a9;
font-size:.7em;
line-height:80px;
  background-color: #666;
  border-top:6px solid #4aaaa5;
      text-align: center;


}